<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806800337996-r54paqc445tikgnd1skn4d8ab8msisn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806800337996-r54paqc445tikgnd1skn4d8ab8msisn4</string>
	<key>API_KEY</key>
	<string>AIzaSyCw6Wl0fV1YkEjma7lkacaIT9Qrf9x22wQ</string>
	<key>GCM_SENDER_ID</key>
	<string>806800337996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ag.tunibest</string>
	<key>PROJECT_ID</key>
	<string>fir-getx-app-7b5c4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-getx-app-7b5c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806800337996:ios:6e5a658d58faa8b62198e9</string>
</dict>
</plist>